* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Sniglet", cursive;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  margin: 0.5em 0;
  font-weight: 800;
}

/* NavBar */

header {
  width: 100%;
  padding: 0.75rem 1rem;
  box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 2%;
  color: rgb(33, 6, 68);
  background-color: rgba(171, 84, 189, 0.856);
}

/* listings container */

#listings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

.post {
  margin: 1rem 0;
  margin: 2rem 0.75rem 4rem;
  display: flex;
  flex-direction: column;
}

.post .image {
  position: relative;
}

.post .image img {
  width: 20em;
  height: 20em;
}

.post .description {
  font-weight: lighter;
}

/* button */

button {
  font-size: 20px;
  background: none;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: rgba(63, 18, 83, 0.657) 2px 2px 2px 2px;
}

button:focus.delete-button,
button:hover.delete-button {
  outline: none;
}

button:active {
  box-shadow: rgba(32, 2, 56, 0.924) 1px 1px 4px;
}

.post .delete-button {
  position: absolute;
  cursor: pointer;
  border-radius: 0;
  background-color: white;
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 40%;
  top: 0;
  left: 0;
}

.likes-button {
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.likes-button:focus,
#memeButton {
  outline: none;
}

.post:hover .delete-button {
  opacity: 0.7;
}

.post .delete-button:hover {
  opacity: 1;
}

.likes-count {
  display: flex;
}

/* form  */

#newMemeForm {
  box-shadow: rgba(32, 2, 56, 0.924) 1px 3px 32px 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 20em;
  padding: 2rem;
}

#newMemeForm input,
label {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  font-weight: bold;
  background: white;
  border-color: rgb(178, 169, 184);
}

#newMemeForm input[type="submit"] {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgb(141, 94, 187);
}

#newMemeForm input[type="submit"]:focus,
#newMemeForm input[type="submit"]:active {
  outline: none;
  transform: scale(0.98);
}

/* responsiveness */

@media (max-width: 767px) {
  body {
    font-size: 3vmin;
  }
  .form-container form input[type="submit"] {
    font-size: 80%;
  }
}

@media (min-width: 768px) {
  .post {
    flex: 0 1 calc(50% - 2rem);
    margin: 1rem;
  }
}

@media (min-width: 1024px) {
  main section {
    flex: 1;
  }
}

@media (min-width: 1280px) {
  .post {
    flex: 0 1 calc(25% - 2rem);
  }
  header,
  main {
    padding: 0.75rem 8rem;
  }
}
