/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   /* background-image: url("https://i.pinimg.com/originals/2c/37/53/2c37538ad1d9a09852c9ec8638c5fa8b.png");
   background-repeat: no-repeat;
   background-size: cover; */

   background-color: rgba(1, 80, 113, 0.4)
 }


  /* ---------------------- CSS for Navbar and Banner -------------------- */


  .banner-img {
    width: 100%;
    max-height: 200px;
   }
  
   .banner {
     width: 90%;
     height: 200px;
     line-height: 200px;
     text-align: center;
     background-image: url("https://i.pinimg.com/originals/2c/37/53/2c37538ad1d9a09852c9ec8638c5fa8b.png");
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0px auto;
   }

   #banner-header {
    margin: 0px;
    font-size: 5em;
    color: transparent;
    -webkit-text-stroke: 2px rgb(0, 199, 249);
    /* line-height: 200px; */
  }
 
  
  
   .nav {
    background-color: rgba(62, 7, 79, 0.8);
    
    height: 30px;
    width: 90%;
    margin: 0px auto;
    padding: 0px;
  }
  
   .nav li {
     /* border: 1px solid black; */
     display: inline-block;
     line-height: 30px;
     padding: 0px 15px;
     margin: 0px;
  
   }
  
   .nav li:hover {
     background-color: rgba(255,255,255,0.4);
     transition: 1s;
   }
  
   .nav li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
  }
  
  
  .right {
    float: right;
  }

  /* --------------CSS for background on every page --------------------- */

.container {
  margin: 5px auto;
  max-width: 87%;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  border-radius: 25px;
  height: 100%;
}

.form-container {
  max-width: 300px;
  margin: 0px auto;
  background-color: rgba(62, 7, 79, 0.2);
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}

.form-btn {
  background-color: purple;
  margin-top: 10px;
  border-radius: 25px;
}

.form-input {
  margin-top: 10px;
}


  /*------------------------Index Page CSS ----------------------  */

 .index-container {
  max-height: 100vh;
  overflow: scroll;
  display: flex;
  flex-flow: row wrap;
  /* background-color: rgba(255,255,255,0.4); */
  padding: 0px 10px 0px 10px;
  margin: 0px auto;
  border-radius: 25px; 
  justify-content: space-evenly;
}

.index-tile {
  background-color: rgba(62, 7, 79, 0.2);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 25px; 
}

.index-tile:hover {
  border: 3px solid rgb(62, 7, 79); 
  background-color: rgba(62, 7, 79, 0.2);
}

.index-tile h3 a {
  text-decoration: none;
  color: rgb(62, 7, 79);
  font-weight: 1200;
}

.index-img {
  max-width: 150px;
}
.show-img {
  max-width: 250px;
}

.index-tile a {
  text-decoration: none;
}


.show-container {
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  border-radius: 25px;
  
}